<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <div class="bg"></div>
    <meta charset="utf-8">
    <title>Learn More</title>
  </head>
  <body>
      <h4>
        Directions: <br><br>
        1. Gather a group of friends and decide who will be the host of your game <br><br>
        2. Have the host login and create a new game and share the game ID with the other players <br><br>
        3.Have all players join the game <br><br>
        4. The host will receive a word and definition, and decide whether to use the real definition or input their own <br><br>
        5. Players will guess if the definition is a real or fake one!
        </h4>

    <div id="goBack"><a href="/" class="btn btn-lg btn-default">I'm Ready to go Back to the Game!</a></div>
<link rel = "stylesheet" href = "/css/learnMore.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </body>
</html>
