<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fictionary Home</title>
  </head>
  <body>
    <div class="bg"></div>
    <h3>Welcome, {{user_data.name}}</h3>
    <h3>Wins: {{user_data.wins}}</h3>
    <div>
      <!-- THIS HTML JOINS A GAME BASED ON THE ID -->
      <form class="" action="/player?" method="get">
        Game ID:<input type="text" name="gameID" value="">
        <input type="submit" name="" value="Join Game!" class="btn btn-lg btn-default">
    </form>
    </div>
        <h3>{{error}}</h3>
        <h1> or </h1>
        <div>
          <!-- THIST HTML CREATES A GAME -->
          <form class="" action="/newgamestate" method="post">
            <input type="submit" name="" class="btn btn-lg btn-default" value="Create Game!">
          </form>
    </div>
  <div id="logoutButton"><a href="{{logout_url}}" class="btn btn-lg btn-default">Logout</a></div>
<!--This is for Bootstrap Coverpage -->
<link rel = "stylesheet" href = "/css/homePage.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </body>
</html>
