<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fictionary Home</title>
  </head>
  <body>
    <div class="bg"></div>
    <h3>Welcome, {{user_data.name}}</h3>
    <h3>Wins: {{user_data.wins}}</h3>
    <div>
        <h5>Start the game once all players are present.</h5>
      </div>
    <div>
        <h3>Word of the Day: {{}} </h3>

    </div>
        <!-- <a href=''
        <button id="say">Start Game!</button> -->
        <div>
          <form class="" action="/newgamestate" method="post">
            <input type="submit" name="" value="Create Game!">
          </form>

        <a href="host" class="btn btn-lg btn-default">Create Game!</a>
        <a href="player" class="btn btn-lg btn-default">Join Game!</a>
    </div>
    <a href="{{logout_url}}" class="btn btn-lg btn-default">Logout</a>
<!--This is for Bootstrap Coverpage -->
<link rel = "stylesheet" href = "/css/login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </body>
</html>
