<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <div class="bg"></div>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/host.css">
    <title>Host Page</title>
  </head>
  <body>

<div id="wholeBody">
      <div id="currentMaster"><h3>Current Master: {{currentPlayer.name}}</h3></div>

      <div id="leaveGameButton"><a href="/" class="btn btn-lg btn-default">Leave Game</a></div>

      <div>
        <h1>Word: {{word}} </h1>
        <h1>Definiton: {{definition}} </h1>
      </div>
      <form class="" method="post">
        <input type="hidden" name="fakeDefinition" value="{{definition}}">
        <input type="submit" name="" value="Use Original Definition" class="btn btn-lg btn-default">
        <!-- <div id="useOriginalDefinition"><a class="btn btn-lg btn-default">Use Original Definition</a></div> -->
      </form>
      <div>
        <h1> or </h1>
      </div>
      <form id="form" class="" method="post">
        Enter a Fake Definition:<br> <input type="text" name="fakeDefinition" value=""> <br>
        <input type="submit" name="" value="Use Fake Definition" class="btn btn-lg btn-default">
    </form>
        <div id="container">
          <div class="row">
            <div class ="name">Player</div><div class="score">Score</div>
          </div>

{% for player in players %}
          <div class="row">
              <div class="name">{{player.name}}</div><div class="score">{{player.score}}</div>
          </div>
{% endfor %}


  <link rel = "stylesheet" href = "/css/host.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"></link>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </body>
</html>
