<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <div class="bg"></div>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/host.css">
    <title>Host Page</title>

  </head>
  <body>
      <h1>current Master: {{currentPlayer.name}}</h1>

      <div id="leaveGameButton"><a href="/" class="btn btn-lg btn-default">Leave Game</a></div>

      <div>
        <h1>Word: {{word}} </h1>
      </div>

      <div id="useOriginalDefinition"><a class="btn btn-lg btn-default">Use Original Definition</a></div>
      <div>
        <h1> or </h1>
      </div>
      <form id="form" class="" action="" method="get">
        Enter a Fake Definition:<br> <input type="text" name="fakeDefinition" value=""> <br>
        <input type="submit" name="" value="Use Fake Definition" class="btn btn-lg btn-default">
    </form>
  <link rel = "stylesheet" href = "/css/host.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"></link>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </body>
</html>
