<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/player.css">
    <title>Player Page</title>
  </head>
    <div class="bg"></div>
  <h3>Current Player: {{players.name}}</h3>
  <div>
    <h1>Word: </h1>
  </div>
  <body>
      <div><a href="/" class="btn btn-lg btn-default">Leave Game</a></div>
  <link rel = "stylesheet" href = "/css/player.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"></link>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </body>
</html>
<div id="container">
  <div class="row">
    <div class ="name">Player</div><div class="score">Score</div>
  </div>

{% for player in players %}
  <div class="row">
      <div class="name">{{player.name}}</div><div class="score">{{player.score}}</div>
  </div>
{% endfor %}
